#myGraph {
    width: 300px;
    height: 200px;
}

.line {
    fill: none;
    stroke-width: 4px;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
}

.blue-line {
    stroke: #3E50B4;
}

.pink-line {
    stroke: #FF3F80;
}

.yellow-line {
    stroke: #FFEB3B;
}